<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<a href="/" style="display: block;padding: 5px; border: 2px solid red; max-width: 70px; margin: 5px;">Voltar</a>
	<div>
		<div>
			<img src="<%=_64x64 %>" alt="image" width="64px" height="64px">
		</div>
		<div>
			<img src="<%=_100x100 %>" alt="image" width="100px" height="100px">
		</div>
		<div>
			<img src="<%=_256x256 %>" alt="image" width="256px" height="256px">
		</div>
		<div>
			<img src="<%=_512x512 %>" alt="image" width="512px" height="512px">
		</div>
	</div>
</body>
</html>